<div *ngIf="sessione == null">
<input type="text" [(ngModel)]="req.nickname">
<button (click)="registrazione()">Registrati</button>
<h4>{{erroreNickname}}</h4>
</div>
<br>
<br>
<div *ngIf="sessione != null">
<h2>Nome utente: {{req.nickname}}</h2>
<input type="text" [(ngModel)]="inviaMessaggioDto.messaggio">
<button (click)="inviaTutti()">Invia a tutti</button>
<br>
<br>
<h3>Contatti</h3>
<table *ngIf="contatti.length > 0">
  <tr>
    <th>Nickname</th>
    <th></th>
  </tr>
  <tr *ngFor="let c of contatti">
    <td>{{c.nickname}}</td>
    <td>
      <button (click)="invia()">Invia</button>
    </td>
  </tr>
</table>
<br>
<br>
<button (click)="aggiorna()">Aggiorna</button>
<br>
<br>
<h3 *ngIf="messaggi.length == 0">Nessun messaggio ricevuto, aggiornare per controllare se ci sono nuovi messaggi</h3>
<div *ngIf="messaggi.length > 0">
<h3>Messaggi ricevuti</h3>
<br>
<br>
<table >
  <tr>
    <th>Mittente</th>
    <th>Messaggio</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>
</div>
</div>
<button (click)="svuotaDB()">Svuota DB</button>