<div *ngIf="sessione == null">
<input type="text" [(ngModel)]="req.nickname">
<button (click)="registrazione()">Registrati</button>
</div>
<br>
<br>
<div *ngIf="sessione != null">
<input type="text">
<button (click)="inviaTutti()">Invia a tutti</button>
<br>
<br>
<h3>Contatti</h3>
<br>
<br>
<table>
  <tr>
    <th>Nick name</th>
    <th>Azione</th>
  </tr>
  <tr *ngFor="let c of contatti">
    <td>{{c.nickname}}</td>
    <td>
      <button (click)="invia()">Invia</button>
    </td>
  </tr>
</table>
<br>
<br>
<button (click)="aggiorna()">Aggiorna</button>
<br>
<br>
<h3>Messaggi ricevuti</h3>
<br>
<br>
<table>
  <tr>
    <th>Mittente</th>
    <th>Messaggio</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>
</div>